@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   font-family: 'Poppins';
   background-color: #f7f7f7;
}

.main-navbar {
   position: fixed;
   z-index: 100;
   width: 100vw;
   left: 0;
   top: 0;
   padding: 0.5rem 1rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.main-logo {
   width: 100px;
}

.main-links {
   position: fixed;
   background-color: rgba(255, 255, 255, 0.8);
   left: 0;
   top: 0;
   width: 40vw;
   height: 100vh;
   transform: translateX(-100%);
   transition: 320ms ease-in;
}

.is-open {
   transform: translateX(0);
}

.main-links a {
   display: block;
   padding: 1rem;
   color: #222;
   border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.action-nav {
   background-color: #fff;
   width: 35px;
   height: 35px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   box-shadow: 0 0 5px #000;
}

.banner {
   position: relative;
   height: 100vh;
}

.banner img {
   object-fit: cover;
}

.banner-text {
   position: absolute;
   padding: 1rem;
   z-index: 10;
   left: 50%;
   top: 50%;
   width: 100%;
   transform: translate(-50%, -50%)
}

.special-offer {
   overflow: hidden;
   border-radius: 2rem;
   line-height: 0;
}

.special-offer span {
   width: 100% !important;
}

.special-offer img {
   object-fit: cover;
}

.about-us-image {
   position: relative;
   line-height: 0;
}

.about-us-image img {
   border-radius: 30px;
}

.shadow-badget {
   box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
   width: 140px;
}

@media screen(md) {
    .about-us-image {
      width: 480px;
      @apply mx-auto
   }
}

@media screen(lg) {
   .action-nav {
      display: none;
   }
   
   .main-links {
      position: static;
      background-color: transparent;
      width: auto;
      height: auto;
      transform: none;
      transition: none;
      @apply flex;
   }
   
   .main-links li:last-child a {
      background-color: #fff;
      color: rgba(62, 134, 245, 1);
      border-radius: 0.8rem;
   }

   .main-links a {
      color: #fff;
      border-bottom: none;
      padding: 1rem 1.5rem;
   }
}